.logo{
    width: 50px;
    height: 50px;
}

#registrar{
    margin-right: 5px;
}

.jumbotron{
    background-color: transparent !important;
    margin-left: 90px;
}

.navbar{
    background-color: #3366ff !important;
}

.btn{
    background-color: #ffff71 !important;
    color: #000c00 !important;
}

.card{
    color:#999999 !important
} 

.nav-link{
    color: #000c00 !important;
}

a{
    color: #999999;
}

body{
    background-color: #d4eeff
}

.card{
    background-color: activeborder !important
}

.txt_inicial{
    font-family: Trebuchet MS, sans-serif;
    text-align: justify;
    font-size: small;
}