.logo{
    width: 50px;
    height: 50px;
}

#registrar{
    margin-right: 5px;
}

.jumbotron{
    background-color: transparent !important;
    margin-left: 90px;
}

.navbar{
    background-color: #3366ff !important;
    margin-bottom: 20px;
}

.btn{
    background-color: #ffff71 !important;
    color: #000c00 !important;
}

.nav-link{
    color: #000c00 !important;
}

a{
    color: #999999;
}

body{
    background-color: #87cefa
}

.card{
    color:#999999 !important
        background-color: activeborder !important;
    margin-bottom: 30px;
    margin-left: 20px;
}


#img_intro{
    width: 600px;

}
.meio{
    margin-left: 50px;
    position: absolute;
    right: 60px;

}

.texto_vertical{
    margin-left:auto;
    margin-top: 30px;
    max-width:300px;
    position: absolute;
    left: 10px;
    background-color: #3366ff;
    font-family: Trebuchet MS, sans-serif;
    text-align: justify;
    font-size: 11pt;
    margin-bottom: 30px;
}

#logo_login{
    position: absolute;
    right: 100px;
    width: 600px;
    margin-top: -100px;
}

#corpo_login{
    position: absolute;
    left: 200px;
}

.logo_reg{
    position: absolute;
    left: 100px;
    width: 600px;
    margin-top: -100px;
}

.corpo_reg{
    position: absolute;
    right: 200px;
}

#reg3{
    top: 40%;
}

.corpo_ES{
    position: absolute;
    right: 15%;
    top: 35%;
}

.img_ES{
    position: absolute;
    left: 5%;
    width: 600px;
    margin-top: -100px;
}

